body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.back-button{
   text-align: left;
    width: 200px;
    float: left;
    padding: 12px;
    margin:12px;
}

.back-button a{  
    cursor: pointer; 
}

.home button{
  margin: 12px;
  float: left;
}